@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url(https://fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #fff 149px, #eee 150px);
  background-size: 150px;
  background-position: center top;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font: inherit;
  cursor: pointer;
}
input {
  font: inherit;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
textarea {
  font: inherit;
}
.c-small-text {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.c-headline {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.o-base-container {
  width: 100%;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.o-content-container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.o-grid > * {
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;
}
@media (min-width: 500px) {
  .o-grid--2 > * {
    width: calc((100% - 2 * 31px) / 2);
  }
  .o-grid--3 > * {
    width: calc((100% - 2 * 31px) / 2);
  }
}
@media (min-width: 800px) {
  .o-grid--3 > * {
    width: calc((100% - 3 * 31px) / 3);
  }
}
@media (min-width: 900px) {
  .o-grid--2-2 > * {
    width: calc((100% - 2 * 31px) / 2);
  }
  .c-meet__photo-container {
    flex: 0.5;
  }
  .c-meet__text-container {
    flex: 1;
  }
}
.c-header {
  position: relative;
  background-color: #111;
  min-height: 100vh;
  overflow: hidden;
}
*::-ms-backdrop,
.c-header,
.c-header__container {
  height: 100vh;
}
.c-video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0.8;
}
.c-video {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-aspect-ratio: 1920 / 1080) {
  .c-video {
    width: auto;
    height: 100%;
  }
}
.c-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}
.c-header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
}
.c-header__bar {
  display: flex;
  flex-direction: row;
  margin-right: -15px;
}
.c-header__links {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.c-header__el {
  padding-right: 15px;
  padding-left: 15px;
}
.c-header__el--grey {
  color: rgba(225, 225, 225, 0.5);
}
.c-header__center {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.c-header__description {
  display: inline-block;
  margin-bottom: 25px;
  text-align: center;
  color: #fff;
}
.c-header__title {
  color: #fff;
}
.c-btn {
  margin-top: 35px;
  padding: 12px;
  background-color: transparent;
  border: 4px solid #9e0b0f;
  box-shadow: 0 0 0 0 #9e0b0f inset;
  color: #9e0b0f;
  transition: 0.4s ease-out;
  outline: none;
  display: inline-block;
}
.c-btn:hover,
.c-btn:focus {
  box-shadow: 150px 0 0 0 #9e0b0f inset;
  color: #fff;
}
.c-btn--white {
  color: #fff;
}
.c-btn--high {
  margin-top: 20px;
}
.c-header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.c-header__copyright {
  align-self: flex-end;
  color: rgba(225, 225, 225, 0.5);
}
.c-header__arrow {
  animation: move 1s infinite alternate ease-in-out;
  background-color: transparent;
  border: none;
  padding: 15px 50px;
  outline: none;
}
@keyframes move {
  to {
    transform: translateY(10px);
  }
}
.c-exp {
  color: #6c6c6c;
}
.c-exp__container {
  text-align: center;
}
.c-exp__content {
  text-align: center;
}
.c-exp__title {
  padding-top: 50px;
  padding-bottom: 80px;
}
.c-exp__el {
  text-align: center;
  padding: 10px 30px;
}
.c-exp__subtitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.c-exp__text {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}
.c-exp__text--red {
  color: #9e0b0f;
  font-weight: 700;
}
.c-exp__icon {
  margin-top: 40px;
  margin-bottom: 50px;
}
.c-currently {
  background-color: #222;
}
.c-currently__container {
  position: relative;
  text-align: center;
}
.c-currently__title--small {
  display: block;
  color: rgba(255, 255, 255, 0.4);
}
.c-currently__description {
  display: block;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-top: 60px;
  line-height: 1.3;
}
.c-currently__title,
.c-currently__subtitle {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.c-currently__title {
  padding-top: 20px;
  padding-bottom: 40px;
}
.c-currently__content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-currently__el {
  text-align: center;
}
.c-currently__text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  padding: 20px;
}
.c-meet {
  color: #6c6c6c;
}
.c-meet__container {
  text-align: center;
}
.c-meet__content {
  justify-content: center;
}
.c-meet__text-container {
  text-align: left;
  max-width: 580px;
  margin-left: 50px;
}
.c-meet__photo {
  max-width: 80vw;
}
.c-meet__title {
  margin-top: -10px;
  text-align: left;
}
.c-meet__text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.3;
}
.c-others {
  background-color: #ececec;
  color: #6c6c6c;
}
.c-others-container {
  text-align: center;
}
.c-others__els {
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.c-others__el {
  text-align: center;
}
.c-others__photo {
  border-radius: 50%;
}
.c-others__text {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  padding-top: 30px;
  padding-bottom: 30px;
}
.c-others__name {
  font-size: 19px;
  font-weight: 700;
}
.c-form {
  color: #6c6c6c;
}
.c-form__container {
  text-align: center;
}
.c-form__title--small {
  padding-bottom: 30px;
}
.c-form__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.c-form__el {
  text-align: center;
}
input,
textarea {
  border: none;
  text-align: center;
  padding: 18px 10px 18px 10px;
  margin: 18px 0 18px 0;
  background: transparent;
  border-radius: 0;
  transition: all 0.3s;
  font-size: 19px;
  font-weight: 700;
  width: 40vw;
  box-shadow: 0 1px #6c6c6c;
  line-height: 1.3;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input:focus,
textarea:focus {
  box-shadow: 0 2px #111;
  outline: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #ddd;
}
input:focus::-moz-placeholder textarea:focus::-moz-placeholder {
  color: #ddd;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #ddd;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #ddd;
}
.c-form__el > span {
  display: block;
  margin-top: -10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #cdcdcd;
}
.c-form__button {
  margin-top: 35px;
  padding: 12px;
  background-color: transparent;
  border: 4px solid #9e0b0f;
  color: #9e0b0f;
  transition: all 0.7s;
}
.c-form__button:hover {
  box-shadow: 150px 0 0 0 #9e0b0f inset;
  color: #fff;
}
.c-footer {
  width: 100%;
  background-color: #222;
}
.c-footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.c-footer__logo {
  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.c-footer__bar {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
}
.c-footer__links {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.c-footer__el {
  padding-right: 15px;
  padding-left: 15px;
}
.c-footer__title {
  color: rgba(225, 225, 225, 0.5);
}
.c-footer__copyright {
  align-self: flex-end;
  color: rgba(225, 225, 225, 0.5);
}
@media (max-width: 900px) {
  input,
  textarea {
    width: 60vw;
  }
  .c-meet__text-container {
    margin-left: 30px;
  }
  .c-meet__content {
    text-align: center;
  }
  .c-meet__title {
    margin-top: 10px;
  }
  .c-form__title > br {
    display: none;
  }
}
@media (max-width: 690px) {
  body {
    background-image: linear-gradient(to right, #fff 74px, #eee 75px);
    background-size: 75px;
  }
  .c-header__el--grey {
    display: none;
  }
  .c-header__copyright {
    align-self: center;
    padding-top: 30px;
  }
  .c-currently__text > br {
    display: none;
  }
  .c-footer__title {
    display: none;
  }
  .c-footer__copyright {
    align-self: center;
  }
  input,
  textarea {
    width: 70vw;
  }
}
@media (max-width: 595px) {
  .c-header__top {
    flex-direction: column;
    align-items: center;
  }
  .c-header__bar {
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .c-header__description {
    display: none;
  }
  .c-others__photo {
    margin-top: 40px;
  }
  .c-footer__content {
    flex-direction: column;
    align-items: center;
  }
  .c-footer__bar {
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  input,
  textarea {
    width: calc(80vw - 40px);
  }
}
@media (max-width: 390px) {
  .c-header__el {
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-footer__el {
    padding-left: 10px;
    padding-right: 10px;
  }
  input,
  textarea {
    width: calc(90vw - 40px);
  }
}
.js-reveal {
  opacity: 0 !important;
  transition: opacity 1s ease-out;
}
.js-visible {
  opacity: 1 !important;
}
.g-recaptcha {
  display: inline-block;
  margin-top: 17px;
}
.message {
  width: 40vw;
  height: 0;
  margin: auto;
  overflow: hidden;
  transition: height 0.5s ease-out;
}
@media (max-width: 900px) {
  .message {
    width: 60vw;
  }
}
@media (max-width: 690px) {
  .message {
    width: 70vw;
  }
}
@media (max-width: 595px) {
  .message {
    width: calc(80vw - 40px);
  }
}
@media (max-width: 390px) {
  .message {
    width: calc(90vw - 40px);
  }
}
.success-message > div {
  padding: 15px 30px;
  background-color: #4caf50;
  color: #fff;
}
.error-message > div {
  padding: 15px 30px;
  background-color: #f44336;
  color: #fff;
}
.parallax {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.parallax__img {
  width: 100%;
  height: 150%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: 25% top;
  background-size: cover;
  /* will-change: transform; <-- it makes it worse on iOS... */
}
